<!doctype html>
<html class="no-js" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>SOOLE API</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swagger-ui.min.css">
    <link rel="stylesheet" href="css/demo.css">
</head>

<body>
    <div ng-controller="MyCtrl" class="container my-ctrl">
        <form name="urlForm" ng-submit="swaggerUrl=url" class="form-inline">
            <button type="button" ng-click="setEn()" class="btn btn-link pull-right" ng-disabled="getLang()=='en'">
                <span class="country en"></span>
                <span swagger-translate="english"></span>
            </button>
        </form>
        <h3 ng-show="isLoading" swagger-translate="loading"></h3>
        <div swagger-ui url="swaggerUrl" loading="isLoading" api-explorer="true" trusted-sources="true"
            error-handler="myErrorHandler" permalinks="true"></div>
    </div>
    <!-- dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.6.1/js-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <!-- angular-swagger-ui -->
    <script src="scripts/swagger-ui.min.js"></script>
    <script src="scripts/modules/swagger-external-references.min.js"></script>
    <script src="scripts/modules/swagger1-to-swagger2-converter.min.js"></script>
    <script src="scripts/modules/swagger-xml-formatter.min.js"></script>
    <script src="scripts/modules/swagger-yaml-parser.min.js"></script>
    <script src="scripts/modules/swagger-markdown.min.js"></script>
    <script src="scripts/modules/swagger-auth.min.js"></script>
    <script src="scripts/i18n/fr.min.js"></script>
    <script type="text/javascript">
        angular
            .module('myApp', ['ngSanitize', 'swaggerUi', 'swaggerUiAuthorization'])
            .config(function (swaggerTranslatorProvider) {
                swaggerTranslatorProvider
                    .setLanguage('en')
                    .addTranslations('en', {
                        appTitle: 'soole-api-specs-ui',
                        explore: 'Explore',
                        loading: 'loading...',
                        error: 'Failed to generate Swagger-UI: {{code}} {{message}}',
                        french: 'french',
                        english: 'english',
                        japanese: 'japanese'
                    });
            })
            .controller('MyCtrl', function ($scope, swaggerTranslator) {
                // init form
                $scope.isLoading = false;
                $scope.url = $scope.swaggerUrl = '/api/specs';
                // error management
                $scope.myErrorHandler = function (message, code) {
                    alert(swaggerTranslator.translate('error', {
                        code: code,
                        message: message
                    }));
                };

                $scope.setEn = function () {
                    swaggerTranslator.useLanguage('en');
                };
                $scope.getLang = function () {
                    return swaggerTranslator.language();
                };
            });
    </script>
</body>

</html>